.section {
    padding-top: 5rem;
    color: white;
    width: 100%;
}

.blob {
    width: 100%;
    max-height: 100%;
    color: #69539B;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 0;
    z-index: 0;
}

.phone {
    width: 375px;
    height: 667px;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: white;
}

.phoneblob {
    background-image: url("/assets/blob.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;

}

.showcaseContent {
    z-index: 2;
    padding: 4rem;

}

.showcaseDescriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.showcaseDescription {
    flex: 1;
    max-width: 55%;
}

.pillsContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.pill {
    border-radius: 2rem;
    padding: 0.25rem 0.5rem;
    color: white;
    /* background-color: #769453; */
    background-color: #5A9654;
}

.testimonial {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.quote {
    font-size: 12px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
}

.quote[data-quote-open='true'] {
    transform: scale(-1, -1);
}

.quote:not([data-quote-open='true']) {
    align-self: flex-end;
}