.section {
    color: white;
    width: 100%;
}

.blob {
    max-height: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 0;
}

.rightBlob {
    right: 0px;
    transform: translateY(-50%) scale(-1, -1);
}

.phone {
    width: 320px;
    height: 652px;
    position: relative;
    aspect-ratio: 375/765;
    /* max-height: calc(100vh - 10rem); */
}

.phoneblob {
    background-image: url("/assets/blob.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
}

.showcaseContent {
    z-index: 2;
    padding: 4rem;

}

.showcaseDescriptionContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

.showcaseDescription {
    flex: 1;
    max-width: 55%;
}

.pillsContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.pill {
    border-radius: 2rem;
    padding: 0.25rem 0.5rem;
    color: white;
    /* background-color: #769453; */
    background-color: #5A9654;
}

.testimonial {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.quote {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
}

.quote[data-quote-open='true'] {
    transform: scale(-1, -1);
}

.quote:not([data-quote-open='true']) {
    align-self: flex-end;
}

.testimonialContent {
    font-style: italic;
}

.mobilePhoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.phone[data-is-mobile='true'] {
    display: none;
}

@media (max-width: 1250px) {
    .phone[data-is-mobile='false'] {
        display: none;
    }

    .phone[data-is-mobile='true'] {
        align-self: center;
        display: block;
    }

    .showcaseDescriptionContainer {
        gap: 0;
    }

    .showcaseDescription {
        max-width: 100%;
    }

    .showcaseContent {
        padding: 2rem;
    }

    .quote {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }
}

@media (max-width: 768px) {
    .quote {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }

    .blob {
        display: none;
    }
}