.bigtitle {
    padding-top: 2rem;
    color: white;
    text-align: center;
    padding: 2rem 8rem 0 8rem;
}

@media (max-width: 1250px) {
    .bigtitle {
        padding: 1rem 0 0 0;
        font-size: 2.5rem;
    }
}