.button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid white;
    min-width: 110px;
    vertical-align: middle;
    padding: .5rem;
    border-radius: .5rem;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.button:active {
    background-color: rgba(255, 255, 255, 0.2)
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}