.bigtitle {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 90%;
    letter-spacing: -3%;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 90%;
    letter-spacing: -3%;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.largebody {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.body {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.smallbody {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.caption {
    font-size: 0.6rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}