.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    height: 72px;
    background-color: var(--header-bg-color);
    transition: background-color 0.3s;
    align-items: center;
}

.callus {
    margin: 0px;
    display: inline-flex;
    gap: 0.5rem;
    cursor: pointer;
}

.burger {
    display: none;
    cursor: pointer;
    color: var(--primary-foreground-hex);
}

.headerWhite {
    --header-bg-color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-foreground-hex);
    gap: 0.5rem;
    padding: 0 2rem;
}

.link {
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.link span {
    margin: 0px;
}

.link:hover {
    background-color: rgba(var(--primary-foreground-rgb), 0.2);
}

.navbarMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-foreground-hex);
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    text-align: center;
    padding: 2rem;
}

.navbarMobileMenuRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

@media (max-width: 1250px) {

    .burger {
        display: block;
    }

    .navbar {
        display: none;
    }

    .link {
        padding: 0.25rem 4rem;
    }

    .navbarMobile.active {
        bottom: 0px;
    }

    .header {
        padding: 0 1rem;
    }
}